*{
    box-sizing: border-box;
}
body{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: rgb(75,191,107);
    margin: 0;
}
.title{
    font: bold;
}
.header{
    text-align: center;
    background-color: rgb(64,163,91); 
    padding: 4px;
}
.main-header{
    background-color: rgb(75,191,107);
}
.btn{
    color: #fff;
    padding: 6px 8px;
    transition: color 85ms ease-in;
}
.info{
    float: right;
    display: inline-block;
}