* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    text-rendering: optimizeLegibility;
    background-color: white;
}
h2, h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: block;
}
.header{
    margin-left: 50px;
    width: 285px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid black;
    background-color: tomato;
/*<<<<<<< HEAD*/
    display: inline-block;
 
 
/*=======*/
    display: block;
}
p{
    float: left;
}
.myInput{
    border: 0.5px solid black;
    border-radius: 5px;
 
}
.addBtn{
    border: 2px solid;
    margin-top: -16px;
    margin-left: auto;
    padding: 5px;
/*<<<<<<< HEAD*/
    background-color:gray;
    float: right;
/*=======*/
    background-color: gray;
    text-align: center;
    display: block;
    width: 55px;
}
