*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: rgb(75,191,107);
    margin: 0;
}
.header{
    text-align: center;
    background-color: rgb(64,163,91); 
    padding: 4px;
}
.main-header{
    background-color: rgb(75,191,107);
}
.btn{
    color: #fff;
    padding: 6px 8px;
    transition: color 85ms ease-in;
}
.info{
    float: right;
    display: inline-block;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }
.addTodo{
    text-align: center;
}
#myInput{
    padding :5px;
}
#addBtn{
    padding: 5px;
}